@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

body {
  text-shadow: 0 0 2px rgba(255, 105, 180, 0.3);
}

.active {
  background: #021431;
  border-radius: 8px;
  color: #fff;
}

/* Пульсация столбиков графика */
@keyframes pulse-bar {
  0% {
    transform: scaleY(0.6);
    opacity: 0.2;
  }
  100% {
    transform: scaleY(1.1);
    opacity: 0.7;
  }
}

/* Эффект рассыпания на пиксели */
@keyframes pixel-explode {
  0% {
    filter: url(#pixel-dissolve);
    opacity: 1;
    transform: scale(1);
  }
  100% {
    filter: url(#pixel-dissolve) brightness(3);
    opacity: 0;
    transform: scale(1.05);
  }
}

.animate-terminate {
  animation: pixel-explode 0.6s ease-out forwards !important;
  pointer-events: none;
}
